{:min-bb-version "0.8.156"
 :deps  {failjure/failjure      {:mvn/version "2.3.0"}
          org.babashka/http-client {:mvn/version "0.4.19"}}
 :tasks {:requires ([babashka.fs :as fs]
                    [babashka.tasks :refer [shell]])

         run       {:doc  "starts the app"
                    :task (if (fs/windows?)
                            (clojure {:dir "."} "-M:dev")
                            (shell {:dir "."} "clj -M:dev"))}

         nrepl     {:doc  "starts the nREPL"
                    :task (clojure {:dir "."} "-M:dev:nrepl")}

         cider     {:doc  "starts the cider"
                    :task (clojure {:dir "."} "-M:dev:cider")}

         test      {:doc  "runs tests"
                    :task (clojure {:dir "."} "-M:test")}

         uberjar   {:doc  "builds the uberjar"
                    :task (clojure {:dir "."} "-T:build all")}

         create-user {:doc  "Create a user. Args: <nickname> <password>"
                      :requires ([babashka.http-client :as http]
                                 [cheshire.core :as json])
                      :task (let [[nickname password] *command-line-args*
                                  resp (http/post "http://localhost:3000/api/v1/users/create-user"
                                                  {:headers {"Content-Type" "application/json"}
                                                   :body    (json/generate-string {:nickname nickname
                                                                                   :password password})})]
                              (println (:body resp)))}

         format    {:doc  "Formats codebase"
                    :task (try
                            (shell {:dir "src"} "cljstyle fix")
                            (catch Exception _
                              (clojure {:dir "src"} "-M:dev -m cljstyle.main fix")))}}}
