{:paths   ["src/clj"
           "resources"
           "hosted/build/libs/alternative-hosted-0.1.0-SNAPSHOT.jar"]

 :deps    {org.clojure/clojure             {:mvn/version "1.12.0"}
           org.clojure/core.cache          {:mvn/version "1.2.263"}

           aero/aero {:mvn/version "1.1.6"}

           com.taoensso/carmine {:mvn/version "3.5.0"}
           com.troy-west/cronut {:mvn/version "0.2.6"}
           clj-commons/iapetos {:mvn/version "0.1.14"}
           io.prometheus/simpleclient             {:mvn/version "0.16.0"}
           io.prometheus/simpleclient_common      {:mvn/version "0.16.0"}
           io.prometheus/simpleclient_hotspot     {:mvn/version "0.16.0"}
           io.prometheus/simpleclient_httpserver  {:mvn/version "0.16.0"}
           io.prometheus/simpleclient_pushgateway {:mvn/version "0.16.0"}

           ;; Routing
           metosin/reitit                  {:mvn/version "0.9.1"
                                            :exclusions [metonsin/malli]}

           ;; Rest formats.
           com.cognitect/transit-clj {:mvn/version "1.1.357"}
           luminus-transit/luminus-transit {:mvn/version "0.1.6"}
           metosin/jsonista {:mvn/version "1.0.0"}

           integrant/integrant {:mvn/version "1.0.1"}

           ;; Ring
           metosin/ring-http-response      {:mvn/version "0.9.3"}

           ring/ring-core                   {:mvn/version "1.15.4"}
           ring/ring-defaults               {:mvn/version "0.7.0"}


           ;; Undertow Ring adapter
           luminus/ring-undertow-adapter    {:mvn/version "1.4.4"}

           ;; Reitit Ring router
           metosin/reitit-ring              {:mvn/version "0.10.1"}
           hiccup/hiccup {:mvn/version "2.0.0"}

           ;; Image codec transcoding.
           io.sf.carte/echosvg-all {:mvn/version "2.3"}

           ;; Logging
           ch.qos.logback/logback-classic  {:mvn/version "1.5.16"}
           net.logstash.logback/logstash-logback-encoder {:mvn/version "7.4"}
           ring-logger/ring-logger {:mvn/version "1.1.1"}


           ;; Apache
           org.apache.commons/commons-math3 {:mvn/version "3.6.1"}
           org.apache.tika/tika-core {:mvn/version "3.2.3"}
           commons-validator/commons-validator {:mvn/version "1.10.1"}

           ;; Kotlin runtime (for hosted jar)
           org.jetbrains.kotlin/kotlin-stdlib {:mvn/version "2.1.20"}

           ;; UUID
           danlentz/clj-uuid {:mvn/version "0.2.0"}

           ;; DB.
           com.github.seancorfield/next.jdbc {:mvn/version "1.3.939"}
           com.github.seancorfield/honeysql {:mvn/version "2.7.1340"}
           org.xerial/sqlite-jdbc             {:mvn/version "3.47.2.0"}
           org.postgresql/postgresql          {:mvn/version "42.7.4"}
           com.zaxxer/HikariCP                {:mvn/version "6.2.1"}

           ;; Auth, signing, hashing, security.
           buddy/buddy-core {:mvn/version "1.12.0-430"}
           buddy/buddy-sign {:mvn/version "3.6.1-359"}
           buddy/buddy-hashers {:mvn/version "2.0.167"}
           org.clj-commons/digest {:mvn/version "1.4.100"}

           clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}

           ;com.fluree/json-ld {:mvn/version "1.0.1"}

           metosin/malli {:mvn/version "0.19.1"}}
 :mvn/repos
 {"css4j" {:url "https://css4j.github.io/maven/"}}
 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
                   :ns-default build}


           :dev  {:extra-deps  {com.lambdaisland/classpath      {:mvn/version "0.5.48"}
                                criterium/criterium             {:mvn/version "0.4.6"}
                                expound/expound                 {:mvn/version "0.9.0"}
                                integrant/repl                  {:mvn/version "0.3.3"}
                                mvxcvi/cljstyle                 {:mvn/version "0.16.630"}
                                pjstadig/humane-test-output     {:mvn/version "0.11.0"}
                                ring/ring-devel                 {:mvn/version "1.14.2"}
                                ring/ring-mock                  {:mvn/version "0.4.0"}
                                io.github.kit-clj/kit-generator {:mvn/version "0.2.5"}
                                org.clojure/tools.namespace     {:mvn/version "1.4.4"}}
                  :extra-paths ["env/dev/clj" "env/dev/resources" "test/clj" "target/classes"]
                  ;; Auto-compile the specific gen-class ns when you start with -M:dev
                  :jvm-opts   ["--add-opens=java.base/java.nio=ALL-UNNAMED" "-Dclojure.compile.path=target/classes"]}
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}}
                   :main-opts  ["-m" "nrepl.cmdline" "-i"]
                   :jvm-opts   ["--add-opens=java.base/java.nio=ALL-UNNAMED"]}
           :cider {:extra-deps {nrepl/nrepl       {:mvn/version "1.1.0"}
                                cider/cider-nrepl {:mvn/version "0.45.0"}}
                   :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]" "-i"]
                   :jvm-opts   ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                                "--sun-misc-unsafe-memory-access=allow"
                                "-Dio.netty.tryReflectionSetAccessible=true"
                                "--enable-native-access=ALL-UNNAMED"
                                "--add-opens=java.base/java.nio=ALL-UNNAMED"]}

           :test {:extra-deps  {criterium/criterium                  {:mvn/version "0.4.6"}
                                expound/expound                      {:mvn/version "0.9.0"}
                                integrant/repl                       {:mvn/version "0.3.3"}
                                io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                      :git/tag "v0.5.1"
                                                                      :git/sha "dfb30dd"}
                                pjstadig/humane-test-output          {:mvn/version "0.11.0"}
                                ring/ring-devel                      {:mvn/version "1.11.0"}
                                ring/ring-mock                       {:mvn/version "0.4.0"}
                                io.github.kit-clj/kit-generator      {:mvn/version "0.2.5"}
                                org.clojure/tools.namespace          {:mvn/version "1.4.5"}
                                peridot/peridot                      {:mvn/version "0.5.4"}
                                org.clj-commons/byte-streams         {:mvn/version "0.3.4"}
                                com.lambdaisland/classpath           {:mvn/version "0.5.48"}}
                  :exec-fn      cognitect.test-runner.api/test
                  :extra-paths ["env/dev/clj" "env/dev/resources" "env/test/resources" "test/clj"]
                  :main-opts   ["-e" "(require 'pjstadig.humane-test-output) (pjstadig.humane-test-output/activate!)"
                                "-m" "cognitect.test-runner"]
                  :jvm-opts   ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                               "--sun-misc-unsafe-memory-access=allow"
                               "-Dio.netty.tryReflectionSetAccessible=true"
                               "--enable-native-access=ALL-UNNAMED"
                               "--add-opens=java.base/java.nio=ALL-UNNAMED"]}}}
